<div class="table-responsive mb-0">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
 <button class="btn custom-btn  pull-right " > <h6> <a routerLink="/addacc" class="nav-link text-white bx bx-user-plus" routerLinkActive="active">  ajouter un compte client  </a> </h6> </button>
</div>
    <table class="table table-centered table-nowrap">
      <thead class="table-light">
        <tr>
          
          <th class="align-middle">Prenom </th>
          <th class="align-middle">Nom </th>
          <th class="align-middle">Email </th>
          <th class="align-middle">CIN</th>
          <th class="align-middle">Telephone</th>
         
          <th class="align-middle">Sexe</th>
          <th class="align-middle">Profession</th>
           <th class="align-middle">Agence</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let cust of cust" >
          <td> {{ cust.firstName }} </td>
          <td> {{ cust.lastName }} </td>
          <td> {{ cust.email }} </td>
          <td> {{ cust.cin }} </td>
          <td> {{ cust.tel }} </td>
          <td> {{ cust.sexe }} </td>
          <td> {{ cust.profession }} </td>
          <td> {{ cust.agence }} </td>
          <td>
              <!-- <button (click) = "custdetails(cust.cin)" class = "btn g-btn" style="margin-left: 10px"> Edit</button> -->
              <button class="btn g-btn" (click)="openDetailsModal(cust)">Edit</button>
          </td>
      </tr>
             
      </tbody>
    </table>
    <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Previous" nextLabel="Next"></pagination-controls>
  </div>
  <!-- end table -->
