.custom-btn {
    background-color: #E85641;
    color: #fff;
}
.g-btn {
    background-color: #23930a;
    color: #fff;
}
.e-btn {
    background-color: #ee9f4b;
    color: #fff;
}
.C-btn {
    background-color: #f21010;
    color: #fff;
}



