.custom-btn {
    background-color: #E85641;
    color: #fff;
}
.g-btn {
    background-color: #23930a;
    color: #fff;
}
.e-btn {
    background-color: #ee9f4b;
    color: #fff;
}
.C-btn {
    background-color: #f21010;
    color: #fff;
}


.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(70, 68, 68, 0.7);
    border-radius: 8px;
    padding: 20px;
  }
  
  .spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
