<div class="table-responsive mb-0">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
 <button class="btn btn-primary pull-right " > <h6> <a routerLink="/adduser" class="nav-link text-white bx bx-user-plus" routerLinkActive="active">  ajouter un client  </a> </h6> </button>
</div>
    <table class="table table-centered table-nowrap">
      <thead class="table-light">
        <tr>
          <th class="align-middle">Id</th>
          <th class="align-middle">Nom et Prénom </th>
          <th class="align-middle">Date</th>
          <th class="align-middle">Solde</th>
          <th class="align-middle"></th>
        </tr>
      </thead>
      <tbody>
     
        
      </tbody>
    </table>
    <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Previous" nextLabel="Next"></pagination-controls>
  </div>
  <!-- end table -->
