<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <dl class="row mb-4">
            <dt class="col-sm-3">Nom</dt>
            <dd class="col-sm-9">sahbeni</dd>
            <dt class="col-sm-3">Prenom</dt>
            <dd class="col-sm-9">iheb</dd>
            <dt class="col-sm-3">RIB</dt>
            <dd class="col-sm-9">948013805</dd>
            <dt class="col-sm-3">Iban</dt>
            <dd class="col-sm-9">TN59048794801380590</dd>
            <dt class="col-sm-3">Date de creation</dt>
            <dd class="col-sm-9">16/04/2024</dd>
            <dt class="col-sm-3">Type du compte</dt>
            <dd class="col-sm-9">epargne</dd>
            <dt class="col-sm-3"></dt>
            <dd class="col-sm-9"></dd>
          </dl>
          <button class="btn btn-primary float-end" (click)="downloadInfo()">Télécharger</button>
        </div>
      </div>
    </div>
  </div>
</div>
