<div class="table-responsive mb-0">
         
    <table class="table table-centered table-nowrap">
      <thead class="table-light">
        <tr>
         
          <th class="align-middle">Nom</th>
          <th class="align-middle">Prénom</th>
          <th class="align-middle">Date</th>
          <th class="align-middle">Solde</th>
          <th class="align-middle"></th>
        </tr>
      </thead>
      <tbody>
     
        
      </tbody>
    </table>
    <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Previous" nextLabel="Next"></pagination-controls>
  </div>
 
  <!-- end table -->
