    <div class="modal-header">
      <h4 class="modal-title">New Transaction</h4>
      <button type="button" class="btn-close" aria-label="Close" ></button>
    </div>
    <div class="modal-body">
      <form >
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" class="form-control" id="amount" name="amount"  required>
        </div>
        <div class="form-group">
          <label for="recipientId">Recipient ID:</label>
          <input type="text" class="form-control" id="recipientId" name="recipientId"  required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    